%h3 API Example

:javascript
  function loadTableViaAjax() {
    $("#api-example-data").empty().addClass("loading").load("table.html", function() {
      this.className = "";
      HighTables.renderChart(document.getElementById("api-example-chart"));
    });
  }

%p
  Click the button below to load an HTML table via AJAX and render a chart from it.
  %button(onclick="loadTableViaAjax();") Load Table

.side-by-side
  #api-example-chart.line-chart(data-source="#api-example-data table")
  #api-example-data

%p Source:

%pre
  %code.html
    :preserve
      &lt;!-- relevant HTML --&gt;
      &lt;button onclick="loadTableViaAjax();"&gt;Load Table&lt;/button&gt;

%pre
  %code.javascript
    :preserve
      // relevant JavaScript
      function loadTableViaAjax() {
        $("#api-example-data").empty().addClass("loading").load("table.html", function() {
          this.className = "";
          HighTables.renderChart(document.getElementById("api-example-chart"));
        });
      }
