%h3
  Mobile OS Market Share

%table.render-to-stack-chart(data-order="descending")
  %tr
    %th Quarter
    %th iOS
    %th Android
    %th BlackBerry
    %th Windows Phone
  %tr
    %td 2012 Q3
    %td 23,550
    %td 122,480
    %td 8,947
    %td 4,058
  %tr
    %td 2012 Q2
    %td 28,935
    %td 98,529
    %td 7,991
    %td 4,087
  %tr
    %td 2012 Q1
    %td 33,121
    %td 81,067
    %td 9,939
    %td 2,713
  %tr
    %td 2011 Q4
    %td 35,456
    %td 75,906
    %td 13,185
    %td 2,759
  %tr
    %td 2011 Q3
    %td 17,295
    %td 60,490
    %td 12,701
    %td 1,702
  %tr
    %td 2011 Q2
    %td 19,629
    %td 46,776
    %td 12,652
    %td 1,724
  %tr
    %td 2011 Q1
    %td 16,883
    %td 36,350
    %td 13,004
    %td 1,600
