%h3
  World's Top Oil Producers

.bar-chart(data-source="#top-oil-producers" data-value-columns="2")

.column-chart(data-source="#top-oil-producers" data-transpose="true")

%table#top-oil-producers
  %tr
    %th Nation
    %th Oil Produced
    %th CO<sub>2</sub> Emissions
  %tr
    %td Russia
    %td 10,540,000
    %td 1,688,688
  %tr
    %td Saudi Arabia
    %td 10,270,000
    %td 493,726
  %tr
    %td United States
    %td 9,688,000
    %td 5,492,170
  %tr
    %td Iran
    %td 4,252,000
    %td 574,667
  %tr
    %td China
    %td 4,073,000
    %td 8,240,958
