%h3 Options Example

:javascript
  function customOptions() {
    return {
      title: { text: "Gloomy Autumn Donut Version" },
      colors: ["#74A6BD", "#7195A3", "#D4E7ED", "#EB8540", "#B06A3B", "#AB988B"],
      plotOptions: {
        pie: {
          borderColor: "#000",
          borderWidth: 3,
          innerSize: "25%",
          shadow: false
        }
      }
    };
  }

%p For instance, the chart on the right below is rendered with the attribute <code>data-options="customOptions"</code>, where <code>customOptions</code> is the following JavaScript function:

%pre
  %code.javascript
    :preserve
      function customOptions() {
        return {
          title: { text: "Gloomy Autumn Donut Version" },
          colors: ["#74A6BD", "#7195A3", "#D4E7ED", "#EB8540", "#B06A3B", "#AB988B"],
          plotOptions: {
            pie: {
              borderColor: "#000",
              borderWidth: 3,
              innerSize: "25%",
              shadow: false
            }
          }
        };
      }

.side-by-side
  .pie-chart(data-source=".us-national-budget" data-title="Original Version")
  .pie-chart(data-source=".us-national-budget" data-options="customOptions")

%table.us-national-budget
  %tr
    %th Category
    %th Budget (in billions)
  %tr
    %td Medicare/Medicaid
    %td $835
  %tr
    %td Social Security
    %td $725
  %tr
    %td Defense
    %td $700
  %tr
    %td Discretionary
    %td $646
  %tr
    %td Other Mandatory
    %td $465
  %tr
    %td Net Interest
    %td $227
