%h2
  Quick Example

:javascript
  function showBatmanBoxOfficePerformanceTable() {
    $(".batman-box-office-performance").parent().slideDown(500);
  }

%p Here's a quick example of what you can do with HighTables.

%h3
  Domestic Box Office Performance of the <em>Batman</em> Movie Franchise

.side-by-side-charts
  .spline-chart(data-source=".batman-box-office-performance" data-title="Daily Revenue" data-y-min="0" data-value-columns="1,3,5")
  .spline-chart(data-source=".batman-box-office-performance" data-title="Total Revenue" data-y-min="0" data-value-columns="2,4,6")

%p
  The graphs above were rendered automatically (i.e., without any custom JavaScript) from
  <a href="javascript:void(0);" onclick="showBatmanBoxOfficePerformanceTable()">a hidden HTML
  table</a>.

.hidden
  %table.batman-box-office-performance
    %tr
      %th Days Released
      %th Batman Begins
      %th Batman Begins (Total)
      %th The Dark Knight
      %th The Dark Knight (Total)
      %th The Dark Knight Rises
      %th The Dark Knight Rises (Total)
    %tr
      %td 1
      %td $15,068,368
      %td $15,068,368
      %td $67,165,092
      %td $67,165,092
      %td $75,754,897
      %td $75,754,897
    %tr
      %td 2
      %td $9,083,178
      %td $24,151,546
      %td $47,650,240
      %td $114,815,332
      %td $44,931,966
      %td $120,686,863
    %tr
      %td 3
      %td $15,072,242
      %td $39,223,788
      %td $43,596,151
      %td $158,411,483
      %td $40,200,432
      %td $160,887,295
    %tr
      %td 4
      %td $18,017,047
      %td $57,240,835
      %td $24,493,313
      %td $182,904,796
      %td $19,389,129
      %td $180,276,424
    %tr
      %td 5
      %td $15,656,151
      %td $72,896,986
      %td $20,868,722
      %td $203,773,518
      %td $17,762,472
      %td $198,038,896
    %tr
      %td 6
      %td $6,627,412
      %td $79,524,398
      %td $18,377,288
      %td $222,150,806
      %td $13,770,092
      %td $211,808,988
    %tr
      %td 7
      %td $5,404,419
      %td $84,928,817
      %td $16,464,405
      %td $238,615,211
      %td $13,202,371
      %td $225,011,359
    %tr
      %td 8
      %td $5,518,167
      %td $90,446,984
      %td $23,232,292
      %td $261,847,503
      %td $17,734,545
      %td $242,745,904
    %tr
      %td 9
      %td $4,475,440
      %td $94,922,424
      %td $28,272,494
      %td $290,119,997
      %td $24,712,417
      %td $267,458,321
    %tr
      %td 10
      %td $8,269,743
      %td $103,192,167
      %td $23,661,680
      %td $313,781,677
      %td $19,654,489
      %td $287,112,810
    %tr
      %td 11
      %td $10,664,330
      %td $113,856,497
      %td $10,518,116
      %td $324,299,793
      %td $8,160,046
      %td $295,272,856
    %tr
      %td 12
      %td $8,655,316
      %td $122,511,813
      %td $9,629,366
      %td $333,929,159
      %td $8,773,116
      %td $304,045,972
    %tr
      %td 13
      %td $4,010,038
      %td $126,521,851
      %td $8,755,141
      %td $342,684,300
      %td $7,333,325
      %td $311,379,297
    %tr
      %td 14
      %td $3,727,338
      %td $130,249,189
      %td $8,402,546
      %td $351,086,846
      %td $6,818,467
      %td $318,197,764
