$blue:   #48f
$pink:   #f48
$yellow: #ffe
$orange: #f84
$white:  #fff
$black:  #000

@mixin heading
  font-family: Helvetica, Arial, sans-serif
  font-weight: bold

@mixin text
  font-family: Georgia, serif

@mixin data
  font-family: Helvetica, Arial, sans-serif

@mixin source
  font-family: Consolas, Inconsolata, monospace

body
  margin: 0
  padding: 0

article
  margin: auto
  min-width: 50%

  @media all and (max-width: 799px)
    width: 75%
    zoom: 50%

  @media all and (min-width: 800px)
    width: 750px

section
  border-top: 1px solid #000
  margin-bottom: 50px

h1, h2, h3, h4, h5, h6, th
  @include heading

p
  @include text

td
  @include data

h1
  color: lighten($black, 10%)
  font-size: 48px
  letter-spacing: -3px
  &.title
    color: $black
    font-size: 64px
    letter-spacing: -4px

h2
  color: lighten($black, 15%)
  font-size: 32px
  letter-spacing: -2px

p
  font-size: 24px
  &.summary
    font-size: 28px

th, td
  font-size: 20px

code
  @include source
  color: $pink

pre
  @include source
  background-color: darken($white, 50%)
  color: $white
  font-size: 24px
  padding: 12px

a
  color: $blue
  &:hover
    color: lighten($blue, 10%)

ul.table-of-contents
  list-style: none
  padding-left: 0

  li
    @include heading
    display: inline-block
    font-size: 28px
    margin-right: 14px

    a
      color: $pink
      text-decoration: none
      &:hover
        color: lighten($pink, 20%)
        text-decoration: underline

    &:nth-child(even)
      a
        color: $orange
        &:hover
          color: lighten($orange, 20%)

table
  border-collapse: collapse
  min-width: 75%
  margin: auto

tr
  &:first-child,
  &:first-child:hover
    background-color: darken($blue, 30%)
    color: $white
  &:nth-child(even)
    background-color: darken($white, 10%)
  &:hover
    background-color: $yellow
    color: $black

th:first-child, td:first-child
  text-align: left

th, td
  min-width: 150px
  padding: 5px 15px
  text-align: right
